#footer-copy {
	text-align: left;
	float: left;
	width: 100%;
}

#company-text {
	display: inline-block;
	width: auto;
}

#policy-text {
	width: auto;
	text-align: right;
	float: right;
}

@media (max-width:960px) {
	#footer-copy {
		text-align: center;
		width: 100%
	}

	#company-text {
		text-align: center;
		width: 100%;
	}

	#policy-text {
		width: 100%;
		text-align: center;
	}
}